<% provide(:title, "#{@post_league}" ) %>
<div class = "text-center">
  <h1> <%= "#{@post_league}" %> </h1>
</div>
<div class = "text-center">
  
  <% @posts.each do |post| %>
    <div class = 'container float-left'>
      <%= link_to( show_path(id: '4')) do  %>
        <% user = User.find_by(id: post.user_id)%>
        <%= user.username unless user.username.nil? %>
      <% end %>
    </div>
    <%= link_to( show_path(id: post.id)) do  %>
      <div class = 'container p-4 border mb-1'>
        <%= post.title %>  <%= l post.created_at, format: :minimum %>
        
      </div>
     
    <% end %>
      
  <% end %>
  
</div>
