<div id = "new-post">
  <%= form_for(@post, url: {controler: "posts", action: "create" }) do |f| %>
    <ul>
      <li>
        選んだスポーツ
      </li>
      <li>
        <%= @kind %>
      </li>
      
      <li>
        投稿したいリーグ
      </li>
      <li>
        <%= f.collection_select :league, @leagues, :league ,:league %>
      </li>
      <li>
        <%= f.label :title %>
      </li>
      <li>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :content %>
      </li>
      <li>
        <%= f.text_area :content%>
      </li>
        <li><%= f.submit "新規投稿" %>
      </li>
    </ul>
  <% end %>
</div>

