<p>
<%= form_for(@post, url: create_path) do |f| %>
  
  選んだスポーツ
  <%= f.select :kind , [["#{@kind}", "#{@kind}"]] %>(変更するなら戻ってね）
  
  <br>
  投稿したいリーグ
  <%= f.collection_select :league, @leagues, :league ,:league %>
  <br>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content%>
  <br>
  <br>
  <%= f.submit "新規投稿" %>
<%end%>
</p>

