<div id = "new-post">
  <p>
<% @sports.each do |sport|  %>
  <%= link_to(new_content_path(kind: "#{sport.kind}")) do %>
    <%= sport.kind %>  
        <br>
  <% end %>
<% end %>
</p>
  <%= form_for(@post, url: create_path) do |f| %>
    <ul>
      <li>
        選んだスポーツ
      </li>
      <li>
        <%= @kind %>
        <%= f.hidden_field :kind, :value => @kind %>
      </li>
      
      <li>
        投稿したいリーグ
      </li>
      <li>
        <%= f.collection_select :league, @leagues, :league ,:league %>
      </li>
      <li>
        <%= f.label :title %>
      </li>
      <li>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :content %>
      </li>
      <li>
        <%= f.text_area :content%>
      </li>
        <li><%= f.submit "新規投稿" %>
      </li>
    </ul>
  <% end %>
</div>

